.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:  url('https://freepngimg.com/thumb/shoes/28530-3-nike-shoes-transparent.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  overflow: hidden;
  overflow-y: hidden;
}

.app h1 {
  font-size: 5em;
  opacity: 0.7;
  margin-left: 30vw;
  margin-top: 10vh;
}

.logo h2{
  margin: 40px;
  color: orange;
}

.collection {
  display: flex;
  margin-left: 30vw;
}

.collection span {
  font-size: 2em;
  font-weight: 800;
}

#span1 {
  color: orangered;
  margin-left: 3vw;
}
#span2 {
  color: gray;
  margin-left: 3vw;
}
#span3{
  color: aqua;
  margin-left: 3vw;
}

.down__arrow {
  margin-left: 45vw;
  margin-top: 28vh;
  cursor: pointer;
  font-size: 140px !important;
  opacity: 0.8 !important;
}