.blog {
    margin-right: 7vw;
}

.heading{
    padding: 10px;
}

.blog__content {
    display: flex;
}

.container {
    flex: 0.7;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 6vh;
}

.sidebar {
    flex: 0.3;
    margin-top: 6vh;
}

.cards {
    display: flex;
    justify-content: space-between;
    max-width: 50vw;
}


